@import 'daks-svelte/fonts/open-sans/variable';
@import 'daks-svelte/tailwindcss';

@layer base {
  :root {
    --navbar-height: 44px;
  }

  body {
    @apply relative font-normal
           text-gray-800 dark:text-neutral-200
           bg-neutral-100 dark:bg-gray-800
           transition-colors duration-300 ease-in-out
           -lg:snap-start;
  }

  h1 {
    @apply uppercase tracking-wide
           text-2xl sm:text-2.5xl md:text-3xl lg:text-3.5xl
           text-gray-500 dark:text-gray-400;
  }
  section h1 {
    @apply text-1.5xl sm:text-2xl md:text-2.5xl lg:text-3xl
           !text-accent;
  }

  h2 {
    @apply tracking-wide
           text-1.5xl md:text-2xl lg:text-2.5xl;
  }
  section h2 {
    @apply text-1.5xl lg:text-2xl
           text-gray-600 dark:text-gray-300;
  }

  h3 {
    @apply text-1.5xl lg:text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  hr {
    @apply dark:border-gray-700;
  }

}

@layer utilities {
  .min-h-screen--navbar {
    min-height: calc(100vh - var(--navbar-height));
  }
  .max-h-screen--navbar {
    max-height: calc(100vh - var(--navbar-height));
  }

  .snap-start,
  .snap-center {
    scroll-margin-top: var(--navbar-height);
  }

  ul.pseudo {
    @apply list-none pl-0 indent-0;
  }
  ul.pseudo li {
    @apply relative ml-6
           before:content-['\25B7']
           before:absolute before:-left-6 before:-top-0.5
           before:font-bold before:text-brand;
  }

  .title {
    @apply after:content-null after:block after:mt-2
           after:w-[20vw] xs:after:w-[15vw] sm:after:w-[10vw] xl:after:w-[7vw] after:h-[5px]
           after:bg-accent;
  }
}

main,
[role='main'] {
  @apply flex flex-col mb-4;
  padding-top: var(--navbar-height);
}
main > header,
[role='main'] > header {
  @apply pt-4 sm:pt-5 md:pt-8
         mb-12 lg:mb-14;
}

/* home */
.text-shadow--home {
  text-shadow: 7px 7px 14px #777;
}
.dark .text-shadow--home {
  text-shadow: 7px 7px 14px #000;
}
.bg--pattern {
  @apply bg-[url($lib/assets/images/patterns/linen.png)] dark:bg-none;
}

/* laboratory-support */
.table--custom tr {
  @apply border dark:border-gray-700 even:bg-gray-200/70 dark:even:bg-gray-700/30;
}
.table--custom th {
  @apply p-2 sm:p-2 font-semibold;
}
.table--custom td {
  @apply p-1 sm:p-2 border dark:border-gray-700;
}

/* Yandex */ 
.ymaps--left-copyright .ymaps-2-1-79-copyright {
  float: left;
}
